.navbtn{
  width: 100%;
  padding: 5px;
  background-color: inherit;
  outline: inherit;
  text-align: center;
  padding-left: 4px;
  border: none;
  margin-bottom: 30%;
  margin-top: 10px;
}
.icon{
  color: black;
  opacity: 50%;
}
.icon:hover{
  color: #4ebdf8;
}
.icon-selected{
  color: #4ebdf8;
  opacity: 50%;
}
